/* Reset some default browser styles */
body, h1, img {
    margin: 0;
    padding: 0;
}

/* Apply styles to the body element */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #ff5733, #8e2de2);
    text-align: center;
    padding: 20px;
}

/* Apply styles to the header (h1) element */
h1.virat {
    font-size: 36px;
    color:black;
    margin-top: 20px;
    font-weight: bolder;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

/* Apply styles to the image element */
img.cmon {
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

/* Style the title text */
.title {
    font-size: 24px;
    color:black;
    margin-top: 20px;
    font-weight: bolder;
}

/* Apply styles to the entire page container */
.page-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}
.ehktu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    max-width: 50%;
    margin-bottom: 20px; /* Add space between image and grid */
}

.title {
    font-size: 24px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-item {
    width: 30%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.grid-item img {
    max-width: 100%;
}

.info {
    font-size: 16px;
    padding: 0 20px;
}
.custom-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid {
    width: 30%; /* Adjust the width as needed */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.grid img {
    max-width: 100%;
}
.class{
    position: relative;
    left: 50px;
}
.venna{
    position: relative;
    left: 50px;
}

.aus{
    position: relative;
    left: 600px;
    font-size: 24px;
    font-weight: bolder;

}
.loop{
    position: relative;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 50px;
}